.idea
*.log
*.tmp
*.pyc
.DS*
._*
.Apple*
*~
*.sqlite3
*.sqlite3-journal
*.db
*.tar
*.bz2
*.zip
node_modules
.npm
#*
env
env26
env27
env30
env31
env32
env33
env34
env35
env36
env37
env38
env39
env40
/media/
/static/
/tmp/
/logs/
*.lock
.directory
